body {
    font-family: Poppins;
    margin: 0;
    background: #f6f6ff;
}

header {
    background: #1e1e2f;
    color: white;
    padding: 20px;
}

header {
    background: #1e1e2f;
    color: white;
    padding: 30px;
    text-align: center;
}

.logo-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 160px;
}

.tagline {
    margin-top: 5px;
}

.logo-area {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 100px;
}

nav {
    background: #333;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    /* ini bikin item di tengah */
    gap: 20px;
    /* jarak antar menu */
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

nav a:hover {
    background: #5145d6;
    border-radius: 5px;
}

.container {
    display: flex;
    padding: 20px;
    gap: 20px;
}

.content {
    flex: 3;
}

.sidebar {
    flex: 1;
    background: white;
    padding: 15px;
    border-radius: 8px;
}

.members li {
    cursor: pointer;
    transition: 0.2s;
}

.members li:hover {
    color: #6a5cff;
    transform: translateX(5px);
}

.btn {
    padding: 10px 20px;
    background: #6a5cff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn:hover {
    background: #5145d6;
}

footer {
    background: #1e1e2f;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}